sudo: required
services:
  - docker
before_install:
  - docker build -t sriniv23/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run sriniv23/react-test npm test -- --coverage

after_success:
  - docker build -t sriniv23/multi-client ./client
  - docker build  -t sriniv23/multi-nginx ./nginx
  - docker build -t sriniv23/multi-server ./server
  - docker build -t sriniv23/multi-worker ./worker
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  - docker push sriniv23/multi-client
  - docker push sriniv23/multi-nginx
  - docker push sriniv23/multi-server
  - docker push sriniv23/multi-worker


